<div class="card">
  <div class="card-header">Password reset</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #pwdResetForm="ngForm">
      <div class="form-group">
        <label for="tokenInput">Token:</label>
        <input #pwdToken="ngModel" required [(ngModel)]="token" name="token" type="text" class="form-control form-control-lg" id="tokenInput"
          placeholder="The token that you received from email" />
        <div *ngIf="pwdToken.invalid && pwdToken.dirty && pwdToken.touched" class="invalid-feedback">
          <div *ngIf="pwdToken.errors.required">The token is required for password reset</div>
        </div>
      </div>

      <div class="form-group">
        <label for="newPwdInput">New password:</label>
        <input #newPwd="ngModel" required [(ngModel)]="newPassword" name="newPassword" type="password" class="form-control form-control-lg"
          id="newPwdInput" placeholder="Choose a new password" />
        <div *ngIf="newPwd.invalid && newPwd.dirty && newPwd.touched" class="invalid-feedback">
          <div *ngIf="newPwd.errors.required">Please choose a new password</div>
        </div>
      </div>

      <div class="form-group">
        <label for="verifyNewPwdInput">Verify new password:</label>
        <input #verifyNewPwd="ngModel" [equalTo]="newPassword" required [(ngModel)]="verifyNewPassword" name="verifyNewPassword" type="password" class="form-control form-control-lg"
          id="verifyNewPwdInput" placeholder="Retype your new password for verification" />
        <div *ngIf="verifyNewPwd.invalid && verifyNewPwd.dirty && verifyNewPwd.touched" class="invalid-feedback">
          <div *ngIf="verifyNewPwd.errors.required">Please verify the choosen password</div>
          <div *ngIf="verifyNewPwd.errors.equalTo">The password doesn't match</div>
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-block" [disabled]="pwdResetForm.invalid">Reset my password</button>
    </form>
  </div>
</div>