<div class="card">
  <div class="card-header">Login to Okkomo</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="usernameInput">Username or email:</label>
        <input #username="ngModel" required minlength="3" maxlength="20" pattern="[a-z0-9]+" [(ngModel)]="login.username" name="username" type="text" class="form-control form-control-lg" id="usernameInput" placeholder="Username or email" />
        <div *ngIf="username.invalid && username.dirty && username.touched" class="invalid-feedback">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength || username.errors.maxlength">
            Username must be 3 to 20 characters
          </div>
          <div *ngIf="username.errors.pattern">Username must be alphanumeric only</div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password:</label>
        <input #password="ngModel" [(ngModel)]="login.password" required name="password" type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Password"/>
        <div *ngIf="password.invalid && password.dirty && password.touched" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required for login.</div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      <a routerLink="/forgot-password" class="btn btn-link">I forgot my password</a>
    </form>
  </div>
</div>