<h1>Overview</h1>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title text-success">Calls count</h4>
        <p class="card-text">
            {{overviewData.callsCount}}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title text-primary">Connected users</h4>
        <p class="card-text">
          {{overviewData.connectedUsers}}
        </p>
      </div>
    </div>
</div>