<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to Okkomo</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a routerLink="/register" class="btn btn-primary btn-lg">Register</a>
      <a routerLink="/login" class="btn btn-success btn-lg">Login</a>
    </p>
  </div>
</div>