<div class="card">
  <div class="card-header">Forgot my password</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #forgotPwdForm="ngForm">
      <div class="form-group">
        <label for="emailInput">Email address:</label>
        <input #emailAdr="ngModel" required email [(ngModel)]="email" name="email"
          type="text" class="form-control form-control-lg" id="emailInput" placeholder="Email address" />
        <div *ngIf="emailAdr.invalid && emailAdr.dirty && emailAdr.touched" class="invalid-feedback">
          <div *ngIf="emailAdr.errors.required">The email is required</div>
          <div *ngIf="emailAdr.errors.email">
            Invalid email address
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="forgotPwdForm.invalid">Send me password reset token</button>
    </form>
  </div>
</div>