.invalid-feedback {
    display: block;
}
.ng-dirty.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-dirty.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}