<div class="card">
  <div class="card-header">Register for free!</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="usernameInput">Username:</label>
                <input #username="ngModel" required minlength="3" maxlength="20" pattern="[a-z0-9]+" [(ngModel)]="newUser.username" name="username" type="text" class="form-control" id="usernameInput" placeholder="Choose a username" />
                <div *ngIf="username.invalid && username.dirty && username.touched" class="invalid-feedback">
                  <div *ngIf="username.errors.required">Username is required</div>
                  <div *ngIf="username.errors.minlength || username.errors.maxlength">
                    Username must be 3 to 20 characters
                  </div>
                  <div *ngIf="username.errors.pattern">Username must be alphanumeric only</div>
                </div>
              </div>
          </div>
        <div class="col">
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input required email #email="ngModel" [(ngModel)]="newUser.email" name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf="email.invalid && email.dirty && email.touched" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email address is required</div>
              <div *ngIf="email.errors.email">Invalid email address</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="passwordInput">Password</label>
            <input required minlength="8" #password="ngModel" [(ngModel)]="newUser.password" name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            <div *ngIf="password.invalid && password.dirty && password.touched" class="invalid-feedback">
              <div *ngIf="password.errors.required">You must choose a password for authentication</div>
              <div *ngIf="password.errors.minlength">Minimum password length is 8</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="retypePasswordInput">Retype password</label>
            <input [equalTo]="newUser.password" minlength="8" required #rePassword="ngModel" [(ngModel)]="newUser.retypePassword" name="retypePassword" type="password" class="form-control" id="retypePasswordInput" placeholder="Password verification">
            <div *ngIf="rePassword.invalid && rePassword.dirty && rePassword.touched" class="invalid-feedback">
              <div *ngIf="rePassword.errors.required">You should verify your password</div>
              <div *ngIf="rePassword.errors.equalTo">Password doesn't match</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fullNameInput">Full Name</label>
            <input required [(ngModel)]="newUser.fullName" name="fullName" type="text" class="form-control" id="fullNameInput" placeholder="Your first and last name"/>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="addressInput">Address</label>
            <textarea [(ngModel)]="newUser.address" name="address" class="form-control" id="addressInput" rows="2"></textarea>
          </div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>